<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for category, message  in messages %}
            <div class="messages {{category}}">{{message}}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>CURD</h1>
    <a href="{{url_for('register')}}">Register</a>
    <a href="{{url_for('view')}}">View Record</a>
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script>
      $(document).ready(()=>{
          $(".messages").hide(3000);
      });
  </script>
</body>
</html>