<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div
        {
            margin-bottom: 2%;
        }
    </style>
</head>
<body>
    <h1>Update Record</h1>
    <form method = "post" action="">
        <div>
            <label for="">Name</label>
            <input type="text" name="name" required value="{{data.name}}">
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" name="email" value="{{data.mail}}">
        </div>
        <div>
            <label for="">Contact</label>
            <input type="text" name="contact" required value="{{data.contact}}">
        </div>
        <input type="submit" value="Update">
    </form>
</body>
</html>