<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Students</h1>
    <table border="1">
        <thead>
            <th>S.No</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Mail</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for i in data %}
            {% set x = loop.index %}
            <tr>
                <td>{{x}}</td>
                <td>{{i.name}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.mail}}</td>
                <td><a href="{{url_for('update', id = i.pid )}}">Update {{i.name}}</a></td>
                <td><a href="{{url_for('delete', id = i.pid )}}">Delete {{i.name}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{url_for('index')}}">Back to Home</a>
    </div>
</body>
</html>