<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title></title>
</head>
<body>
    {% with messages  = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message  in messages %}
                <div class="messages {{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/" method="post">
        <!-- input type should be submit, then only message will shown -->
        <input type="submit" value="Success" name="success" class="btn sbtn" >
        <input type="submit" value="Error" name="error" class="btn ebtn">
    </form>
</body>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
<script>
    $(document).ready(()=>{
        $(".messages").hide(3000);
    });
</script>
</html>